@import "variables";

/***********************************/
/**************GENERAL**************/
/***********************************/
body {
	font-family: $font-hel-nueu;
	font-size: 12px;
	overflow-x: hidden;
}

section {
    position: relative;
    background-size: cover;
    background-position: center;
    .container{
    	&>h2, &>h3 {
	    	margin-top: 40px;
	    	&+p {margin-bottom: 30px; margin-top: -3px;}
	    }
    }
    padding-bottom: 40px;
}

h1 {font-size: 4.125em; color: $red; font-family: $font-hel; font-weight: 500;}//66px
h2 {font-size: 3em; letter-spacing: .06em;}//48px
h3 {font-size: 2em; letter-spacing: .05em;}//32px
h5 {font-size: 1.5em;}//24px
p {font-size: 1.25em; color: $grey-text}//20px
sup {font-size: .65em;}

.line-break {margin-top: 100px; position: relative; z-index: 1;}
.black-title {
	background: $grey-dark;
	border-bottom: $red 4px solid;
	background-repeat: no-repeat;
	background-position: 25px center;
	background-size: 30px;
	color: white;
	width: 100%;
	padding: 25px 0 25px 75px;
	letter-spacing: .04em;
}


/***********************************/
/**************LOADER***************/
/***********************************/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: $red;
	display: flex;
	align-items: center; justify-content: center;
	img {max-width: 40px;}
}


/***********************************/
/************NAVIGATION*************/
/***********************************/
.navbar {
	background: $red;
	.navbar-right {margin-right: 0;}
	.navbar-brand {
		padding: 5px 0 0 30px;
		img {height: 100%;}
	}
	ul>li>a {
		font-family: $font-hel;
		font-size: 1em;
		color: black;
		&:focus {background: none;}
		&:hover, &.active {color: white; background: none;}
	}
}



/***********************************/
/**************SECTION**************/
/***********************************/
/*banner*/
.section-banner {
	height: 100vh;
	max-height: 100vh;
	img {width: 50%; max-width: 300px; opacity: .78; margin-top: 190px;}
	h2 {color: white;}
}

/*about*/
.section-about {
	h2 {margin-bottom: 25px}
	p {line-height: 1.6em;}
}

/*masterpiece*/
.section-masterpiece {
	.block {
		margin-top: 40px;
	}
	img {max-width: 220px;}
	h3 {color: white;}
	p {color: white; margin-top: 20px;}
}

/*glance*/
.section-glance {
	background: $grey-bg;
	.block {
		border: $grey-bg 5px solid;
		background: white;
		min-height: 317px;
	}
	h1 {margin: 40px 0 20px;}
	p {margin: 17px 0 40px;}
}

/*partner*/
.section-partner {
	background: $grey-bg;
	h5 {
		font-style: italic;
		margin: 20px 0 40px;
	}
}

/*details*/
.section-detail {
	.row {margin-left: -37px; margin-right: -37px;}
	.block {
		padding: 0 37px; margin-bottom: 50px;
		&>div {
			border: $grey-bg 10px solid;
		}
	}
	h6, h5 {display: block; float: left; margin: 0; padding-top: 10px; padding-bottom: 10px;}
	h5 {
		background-position: 15px center;
		background-size: 25px;
		width: 85%;
		padding-right: 25px;
		text-align: right;
	}
	h6 {
		font-family: $font-hel;
		font-size: 1.875em;
		width: 15%
	}
	.detail-text {
		margin: 10px 0 0;
		min-height: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		p {line-height: 2em;}
	}
}

/*benefit*/
.section-benefit {
	.row {
		margin: 0 160px;
	}
	.block {
		margin-top: 70px;
		padding: 0 35px;
	}
	p {margin-top: 30px;}
}

/*service*/
.section-service {
	img {max-width: 100px; max-height: 100px;}
}

.service-center {
	width: 400px; height: 400px;
	margin: 120px auto;
	display: flex; flex-direction: column;
	align-items: center; justify-content: center;
	border: $grey-light 13px solid;
	border-radius: 50%;
	img {margin-bottom: 10px;}
	h5 {font-weight: 600; letter-spacing: .07em;}
}

.service-item {
	position: absolute;
	left: 50%; top: 50%;
	z-index: 2;
	@include prefix(transform, translate(-50%, -50%));
	h5 {position: absolute;}
	&:first-of-type {
		margin-top: -180px;
		h5 {width: 200px; left: -50px; top: -50px;}
	}
	&:nth-of-type(2) {
		margin-left: 200px;
		h5 {
			top: 30px;
    		left: 120px;
    		width: 100px;
		}
	}
	&:nth-of-type(3) {
		margin-top: 210px;
		h5 {width: 200px; left: -50px; top: 110px;}
	}
	&:nth-of-type(4) {
		margin-left: -200px;
		h5 {
			top: 30px;
    		left: -120px;
    		width: 100px;
		}
	}
}

/*explain*/
.section-explain {
	p {
		margin: 15px 25px 30px 25px;
		line-height: 1.6em;
	}
	.row {margin-left: -10px; margin-right: -10px;}
	.block {
		padding: 0 10px;
		margin-bottom: 20px;
		&>div {
			min-height: 302px;
			border: $grey-light 1px solid;
			border-top: none;
		}
	}
}

/*portfolio*/
.section-port {
	h2 {margin-bottom: 60px;}
	h5 {
		margin: 0 0 30px;
		&+img {max-height: 65px;}
	}
	p {line-height: 1.6em; margin-top: 30px;}
	.row {
		margin: 0 -33px 0 -33px;
		padding: 25px 0;
		&>div {
			padding: 0 33px;
		}
	}
	hr {width: 100%; border: none; background: $grey-light; height: 1px; margin: 0;}
}

.more-btn {
	position: relative;
	z-index: 2;
	width: 80px; height: 80px;
	text-align: center;
	border-radius: 50%;
	background: black;
	outline: none;
	border: none; box-shadow: none;
	margin-top: -61px;
	p, i {color: white;}
	p {margin-top: 17px; margin-bottom: 0;}
	i {font-size: 1.3em; @include prefix(transition, transform .5s ease);}
	&:hover i {
		@include prefix(transform, translateY(5px));
	}
}

/*client*/
.client-logo {
	margin-left: 21px; margin-right: 21px;
	min-height: 105px;
	display: flex;
	align-items: center;
}

.client-dots-container {
	height: 10px;
	display: block;
	margin-top: 50px;
	&>div {
		width: 10px; height: 10px;
		background: $grey-dark;
		opacity: .3;
		@include prefix(transition, opacity .5s ease);
		border-radius: 50%;
		margin-left: 8px; margin-right: 8px;
		display: inline-block;
		&.active, &:hover {
			opacity: 6;
			cursor: pointer;
		}
	}
}


/***********************************/
/**************FOOTER***************/
/***********************************/
footer {
	background-size: cover; background-position: center;
	padding: 80px  0 100px;
	h5 {color: white; margin-top: 30px; margin-bottom: 20px;}
	p {color: white;}
}



/***********************************/
/************RESPONSIVE*************/
/***********************************/
@media (max-width: 1200px) {
	.section-detail {
		.row {margin-left: -25px; margin-right: -25px;}
		.block {
			padding: 0 25px; margin-bottom: 35px;
		}
	}
	.section-benefit .row {
		margin: 0 70px;
	}
}

@media (max-width: 992px) {
	.line-break {margin-top: 60px;}
	.section-masterpiece img {
		max-width: 160px;
	}
	.section-detail {
		.row {margin-left: -10px; margin-right: -10px;}
		.block {
			padding: 0 10px; margin-bottom: 20px;
		}
	}
	.section-benefit .block {min-height: 323px;}
	.service-center {margin: 150px auto;}
	.section-explain .block > div {min-height: auto;}
	.section-port {
		.row {
			margin: 0 -15px 0 -15px;
			&>div {padding: 0 15px;}
		}
	}
}

@media (max-width: 768px) {
	section {
	    .container{
	    	&>h2, &>h3 {
		    	margin-top: 40px;
		    	&+p {margin-bottom: 40px; margin-top: -3px;}
		    }
	    }
	    padding-bottom: 40px;
	}

	.navbar-toggle {
		border: none;
		.icon-bar {
			background: white;
		}
	}
	.section-glance {
		.block {min-height: initial;}
		h1 {margin: 20px 0 0;}
		p {margin: 0 0 20px;}
	}
	.section-detail .detail-text {min-height: initial;}
	.section-benefit {
		.block {min-height: initial; margin-top: 40px;}
		p {margin-top: 10px;}
	}
	.service-item {
		position: relative;
		@include prefix(transform, none);
		margin: 30px 0 0 !important;
		top: initial; left: initial;
		display: block;
		img {margin: auto; max-width: 100%; max-height: 100%;}
		h5 {
			position: relative;
			top: initial !important; left: initial !important;
			width: auto !important;
			display: inline-block;
		}
	}
	.service-center {
		width: auto; height: auto;
		border: none;
		display: block;
		margin: 30px 0 0;
		img {margin: auto; max-width: 100%; max-height: 100%;}
	}
	.section-port h5 {margin-top: 40px;}
	footer img {margin-top: 30px;}
	.more-btn {margin-top: -48px;}
}

@media (max-width: 414px) {
	h3 {font-size: 1.7em;}
	.section-benefit {
		.row {margin: 0 20px;}
		img {max-width: 150px;}
	}
	.service-item img {max-width: 150px;}
}

@media (max-width: 375px) {
	h3 {font-size: 2em;}
}

@media (max-width: 320px) {
	.section-banner {
    	height: 500px;
    	img {margin-top: 144px;}
	}
	.black-title {
		background-position: 15px center;
		padding: 20px 0 20px 55px;
	}
}